@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.button:hover .arrow{
  animation: arrow 2s infinite ease-in-out;
}

@keyframes arrow {
  0% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(-5px);
  }
}